.main-nav__list {
  margin-top: 0;
  padding: 10px 0;
}

.main-nav__link {
  padding: 0 10px;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
}

.main-nav {
  background-color: var(--dark-blue-header);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
}
